body {
  text-align:center;
  font-family:adelle sans;
}
ul {
  background:rgba(225,225,225,0.6);
  text-align:right;
  padding:10px;
  margin:0px;
  border:4px solid white;
}
p {
  font-size:24px;
}
li {
  padding:15px;
  display:inline;
  font-family:adelle sans;
  color:rgba(98, 93, 93,1);
}
header {
  background:url(https://cloud.githubusercontent.com/assets/6808738/3563032/7fa20d90-0a19-11e4-8ad1-efd9dbdf7276.jpg);
  background-size:cover;
  font-family:adelle sans;
  color:rgba(98, 93, 93,1);
}
.description {
  padding:50px;
}
.headline{
  font-size:70px;
}
